<header class="header">
    <div class="logo">
      <a href="/">
        <img src="/favicon.ico" alt="Favicon" class="favicon">
        <h1>NBA Fantasy</h1>
      </a>
    </div>
    <nav class="navbar">
      <a href="#players">My Players</a>
      <a href="#commonplayers">Common Players</a>
      
      <a href="/profile" class="profile">
        <img src="images/profile-user.png" alt="Profile" class="profile-icon">
      </a>
    </nav>
</header>