<%- include("partials/header.ejs")%>


    <main class="main-content">
        
        <section id="home">
            <h2>Welcome to NBA Fantasy</h2>
            <p>Build your dream team and compete with friends!</p>
        </section>

        <section id="players">
            <h2>Player List</h2>
            <div>
                <% if (players) { %>
                    <pre><%= players %></pre>
                <% } else { %>
                    <p>No players data available.</p>
                <% } %>
            </div>
            <div>
                <% if (games) { %>
                    <pre><%= games %></pre>
                <% } else { %>
                    <p>No Games data available.</p>
                <% } %>
            </div>
        </section>

        <section id="create-team">
            <h2>Create Your Team</h2>
            <form>
                <label for="team-name">Team Name:</label>
                <input type="text" id="team-name" name="team-name" placeholder="Enter your team name" required>
                <button type="submit">Save Team</button>
            </form>
        </section>

        <section id="standings">
            <h2>Standings</h2>
            <p>Coming Soon!</p>
        </section>
    </main>


<%- include("partials/footer.ejs")%>
